<app-header></app-header>
<div class="row">
  <button type="button" class="btn btn-primary" (click)="addPlyrs()">
    Add Players
  </button>
</div>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add players</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="row mr-1" *ngFor="let item of playerForm">
            <div class="col-9">
              <label>Player Name: </label>
              <input class="form-controls" [(ngModel)]="item.name" />
            </div>
          </div>
          <div class="col-4">
            <button class="btn btn-primary" (click)="addForm()">Add</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
